---
layout: default
title: Home
---

{% if paginator.page == 1 %}
	{% assign featuredPost = site.posts.first %}
	{% include featured.html post=featuredPost %}
{% endif %}

<div class="posts">
	{% for post in paginator.posts %}
		{% include standard.html post=post %}
	{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
	<div class="pagination">
	  {% if paginator.previous_page %}
	    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">Previous</a>
	  {% else %}
	    <span class="previous">Previous</span>
	  {% endif %}
	  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	  {% if paginator.next_page %}
	    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a>
	  {% else %}
	    <span class="next ">Next</span>
	  {% endif %}
	</div>
{% endif %}