<article class="featured" {% if include.post.image %} style="background-image: url({{ site.baseurl }}/assets/{{ include.post.image }})" {% endif %}>
	<div class="dim {% if include.post.image %}has-background{% endif %}">
		<h1>
			<a href="{{ post.url | prepend: site.baseurl }}">
				{{include.post.title}}
			</a>
		</h1>

		<ul class="meta">
			<li>{{ include.post.date | date_to_long_string }}</li>
		</ul>

		{% if include.post.excerpt %}
			<p class="excerpt">{{ include.post.excerpt | strip_html }}</p>
		{% endif %}

		<ul class="tags">
			{% if include.post.tags %}
				{% for tag in include.post.tags %}
					<li>{{ tag }}</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
</article>