<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="0LrsRydcqu4uIF491Bmojuyh0HpNGwlqRsdcPsiY4g0" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/apple-touch-icon.png" />
    
    {% if page.layout == "post" %}
        <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.live_url }}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
        <meta property="fb:app_id" content="{{ site.fb_app_id }}" />        
        {% if page.image %}
            <meta property="og:image" content="{{ site.live_url }}/assets/{{ page.image }}" /> 
        {% endif %}
    {% endif %}
</head>
