#eu-cookie-allow {
	font-size: 1rem;

	position: fixed;
	bottom: 0;
	padding: 0.5rem 1.5rem;
	width: 100%;
	background-color: rgba($background-color, 0.75);

	animation-duration: 1s;
  	animation-name: cookie-slidein;

	button {
		border: none;
	    margin: 0.25rem;
	    padding: 0.25rem 0.5rem;
	    background-color: rgba(0, 0, 0, 0.5);
	    font-family: inherit;
	    font-size: inherit;
	    cursor: pointer;

	    &:hover, &:focus {
	    	background-color: rgba(0, 0, 0, 0.75);
	    }

	    @media (max-width: 450px) {
			display: block;
			width: 100%;
	    }
	}

	#eu-cookie-dismiss {
		float: right;

		@media (max-width: 450px) {
			float: none;
		}
	}
}

@keyframes cookie-slidein {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}