* {
	box-sizing: border-box;
}

html {
	font-family: $base-font;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-size: $base-size;
	background-color: $background-color;
}

.wrapper {
	width: auto;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
}