* {
	box-sizing: border-box;
}

@font-face {
    font-family: 'League Spartan';

	src: url('../fonts/league-spartan/leaguespartan-bold.eot');
    src: url('../fonts/league-spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-spartan/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/league-spartan/leaguespartan-bold.woff') format('woff'),
         url('../fonts/league-spartan/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/league-spartan/leaguespartan-bold.svg#league_spartanregular') format('svg');
}

html {
	font-family: $base-font; //TODO: Make sure Open Sans and League Spartan are hosted somewhere accessible and linked in
	-webkit-font-smoothing: antialiased;
	font-size: $base-size;
}

.wrapper {
	width: auto;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
}

header, main, footer {
	padding: 2rem 1rem;
}

.post header {
	padding: 0;
}

.home article:hover {
	color: lighten(black, 25%);
}

span.baseline-correct {
	position:relative;
	top: 0.1em;
}

nav {
	position: absolute;
	//background-color: rgba(0,0,0,0.5);
	text-align: left;
	color: $heading-text-color;
	padding: 0 1rem;
	width: 100%;

	h1 {
		font-size: 2rem;
	}
}

header {
	img {
		float: right;
		width: 7.5rem;
		height: 7.5rem;
		border: 0.5rem solid $heading-text-color;
		border-radius: 100%;
	}
}

html.flexbox .home header > .wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	overflow: hidden;

	h1 {
		float: left;
	}
}

main {
	background-color: $heading-text-color;

	article {
		margin: 4rem 0;

		&:first-child {
			margin-top: 2rem;
		}
	}

	&.home {
		article:hover {
			color: lighten(black, 25%);
		}
	}
}

.post {
	header {
		background: $main-color no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		text-align: center;
		color: $heading-text-color;

		.dim {
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			padding: 3rem 1rem;
		}

		ul {
			list-style: none;
		}

		.meta {
			margin: 0.5rem 0;
		}

		.tags {
			margin: 1rem 0;
			font-size: smaller;

			li {
				display: inline-block;
				margin: 0.25rem;
				padding: 0.25rem 0.5rem; 
				text-transform: lowercase;

				background-color: rgba(0,0,0,0.5);
			}
		}
	}

	main {
		img {
			display: block;
			margin: 0 auto;
			max-height: 20rem;
		}
	}
}

footer {
	text-align: center;

	ul {
		list-style: none;
		margin-bottom: 0;
		margin-left: 0;

		li {
			display: inline-block;
			margin: 0 1rem;
		}
	}
}