@function make-shadow($length) {
  $shadow: 0 0 $text-color;

  $subpixelLength: $length * 2;
  
  @for $i from 1 through $subpixelLength {
    $shadow: #{$shadow}, #{$i / 2}px #{$i / 2}px $text-color;
  }

  @return $shadow;
}

@mixin box-drop($borderWidth) {
  border: ($borderWidth * 1px) solid $text-color;
  box-shadow: make-shadow($borderWidth * 2);
}