nav {
	font-family: $header-font;
	font-size: $nav-font-size;
	padding: 0.5rem 1rem;

	a {
		border-bottom: none;
	}

	ul {
		list-style: none;
		margin: 0;

		li {
			display: inline-block;
		}
	}

	.title {
		font-size: $nav-header-font-size;
	}

	@media (max-width: 450px) {
		.title {
			font-size: $nav-header-font-size / 1.5;
		}

		.home {
			display: none;
		}
	}
}

html nav ul {
	display: flex;

	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 450px) {
    	justify-content: center;
    }
}

html.no-flexbox nav ul {
	.title {
		float: left;
	}

	.home {
		float: right;
	}

	overflow: hidden;
}