.standard {
	display: block;
	margin-bottom: $base-size * 2;
	border-bottom: none;
	
  &:hover {
		border-bottom: none;
	}
}

.standard > article {
	display: flex;
	@include box-drop(5);
	background-color: lighten($background-color, 10%);

	.image {
		flex: 1;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@media (max-width: 600px) {
			display: none;
		}
	}

	.title {
		padding: 1rem;
		flex: 2;
	}

	ul {
		list-style: none;
	}

	.meta {
		margin: 0.5rem 0;
	}

	h1 {
		font-size: 2rem;
		padding-top: 0;

		&:hover {
			text-decoration: underline;
		}
	}
}