@font-face {
    font-family: 'AdamCG Pro';
    src: url('../fonts/adamcg-pro-webfont.eot');
    src: url('../fonts/adamcg-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adamcg-pro-webfont.woff2') format('woff2'),
         url('../fonts/adamcg-pro-webfont.woff') format('woff'),
         url('../fonts/adamcg-pro-webfont.ttf') format('truetype'),
         url('../fonts/adamcg-pro-webfont.svg#adam.cg_proregular') format('svg');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#adam.cg_proregular') format('svg');
}

$background-color: rgb(236,240,241);
$base-size: 20px;

$text-color: rgb(0,0,0);

$color-1: rgb(231,76,60);
$color-2: rgb(52,152,219);
$color-3: rgb(44,62,80);

$transition-length: 0.5s;

$header-font-size: 3rem;
$header-secondary-font-size: $header-font-size / 2;
$header-border-size: $header-font-size / 3;
$header-padding: 3 * $header-font-size;
$header-height: (2 * $header-padding) + $header-font-size;
$header-border-color: rgb(0,0,0);

$nav-header-font-size: 2rem;
$nav-font-size: 1rem;

$header-font: "AdamCG Pro", "Helvetica", "Arial", sans-serif;
$base-font: "Lato", "Helvetica", "Arial", sans-serif;

$breakpoint-large: 900px;
$breakpoint-medium: 750px;
$breakpoint-small: 550px;

$base-size-large: 18px;

$header-font-size-medium: 2.5rem;
$header-secondary-font-size-medium: $header-font-size-medium / 2;
$header-border-size-medium: $header-font-size-medium / 3;
$header-padding-medium: 2 * $header-font-size-medium;
$header-height-medium: (2 * $header-padding-medium) + $header-font-size-medium;

$header-font-size-small: 1.5rem;
$header-secondary-font-size-small: $header-font-size-small / 2;
$header-border-size-small: $header-font-size-small / 3;
$header-padding-small: 1.5 * $header-font-size-small;
$header-height-small: (2 * $header-padding-small) + $header-font-size-small;